# IDEs
.vscode/
.idea/
*.swp
*.swo

# Backend
BACKEND/target/
BACKEND/*.class
BACKEND/*.log

# Frontend
FRONTEND/node_modules/
FRONTEND/dist/
FRONTEND/.env
FRONTEND/.env.local
FRONTEND/.env.development.local
FRONTEND/.env.test.local
FRONTEND/.env.production.local

# OS files
Thumbs.db
.DS_Store
